* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SECTION: Styling variables */
:root {
  --rose: #b76e79;
  --grey: #dcd2dc;
  --dkblue: #392f58;
  --eggshell: #fffff0;
  --bluegrey: #8e9aaf;
  --ltpink: #f2c1c5;
  --black: #000;
  --ruluko: "Ruluko", sans-serif;
  --poppins: "Poppins", Verdana, sans-serif;
  --explora: "Explora", cursive;
  --cookie: "Cookie", Georgia, cursive;
  --bebasNeue: "Bebas Neue", cursive;
  --badScript: "Bad Script", cursive;
  --phuda: "Phudu", Impact, cursive;
}

body {
  font-family: var(--poppins);
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* SECTION: Header */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  font-size: 55px;
  align-self: center;
  letter-spacing: 0.35em;
  font-family: var(--ruluko);
  margin-bottom: 20px;
  color: var(--dkblue);
  padding-left: 0.35em;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 3px solid var(--eggshell);
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  gap: 100px;
  font-weight: bolder;
  margin-bottom: 20px;
}
nav button {
  color: var(--eggshell);
  font-size: 20px;
}

/* FIX:  text shadow*/
.timer {
  font-size: 30px;
  font-weight: bolder;
  color: var(--rose);
  text-shadow: var(--rose);
  font-family: var(--phuda);
  vertical-align: middle;
  text-align: center;
  gap: 15px;
  margin-bottom: 15px;
}

/* .time-left {
  font-size: 30px;
  font-weight: bold;
  color: var(--eggshell);
  text-shadow: var(--rose);
  font-family: var(--phuda);
  vertical-align: middle;
  text-align: center;
  margin-bottom: 15px;
} */

.points {
  font-size: 30px;
  font-weight: bold;
  color: var(--eggshell);
  font-family: var(--phuda);
  vertical-align: middle;
  text-align: center;
}

button {
  background: radial-gradient(
    circle,
    rgb(245, 207, 215) 0%,
    rgba(143, 80, 96, 0.954) 100%
  );
  border-radius: 8px;
  color: var(--dkblue);
  cursor: pointer;
  padding: 5px 10px;
  /* font-size: 2em; */
  /* letter-spacing: 0.21px;
  line-height: 16px;
  max-width: 255px;

  text-align: center;
  transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: linear;
  /* margin-top: 0.6em; */
}

button:hover {
  background: radial-gradient(
    circle,
    rgb(142, 80, 95) 0%,
    rgba(245, 207, 215, 0.939) 100%
  );
  color: var(--eggshell);
}

.high-scores-list {
  font-size: 1.5em;
  background: radial-gradient(
    circle,
    var(--eggshell) 0%,
    rgba(187, 124, 33, 0.604079131652661) 100%
  );
  border: 1px solid #eceff1;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
  margin-bottom: 25px;
  padding: 20px;
  color: var(--dkblue);
  display: flex;
  flex-wrap: wrap;
  /* flex-basis: 250px; */
  flex-direction: column;
}

a {
  padding: 1em;
  font-size: 25px;
}

/* SECTION: Main */
main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.card {
  background: radial-gradient(
    circle,
    var(--eggshell) 0%,
    rgba(187, 124, 33, 0.604079131652661) 100%
  );
  border: 1px solid #eceff1;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
  margin-bottom: 25px;
  padding: 20px;
  color: var(--dkblue);
  display: flex;
  flex-wrap: wrap;
  /* flex-basis: 250px; */
  flex-direction: column;
}

h3 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

ul {
  line-height: 30px;
  font-size: 20px;
  list-style: none;
}

.question {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: bolder;
  flex-direction: wrap;
  /* text-transform: uppercase; */
}

.choice {
  background: radial-gradient(
    circle,
    var(--eggshell) 0%,
    rgba(218, 160, 175, 0.539) 100%
  );
  border-radius: 8px;
  color: var(--dkblue);
  font-size: 1.25em;
  letter-spacing: 0.21px;
  line-height: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  text-align: start;
  font-weight: bold;
}

.incorrect-correct {
  text-align: center;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--dkblue);
}

.hidden {
  display: none;
}

/* Media Queries */

@media (max-width: 480px) {
  h1 {
    font-size: 30px;
  }

  nav {
    gap: 15px;
    flex-direction: column;
  }

  nav button {
    font-size: 16px;
  }

  .timer,
  .points {
    font-size: 25px;
  }

  button {
    font-size: 1.5em;
  }

  h3 {
    font-size: 25px;
  }

  ul {
    font-size: 18px;
  }

  .question {
    font-size: 25px;
  }

  .choice {
    font-size: 1.15em;
  }
}
